@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My ASP.NET Core App</h1>
    <p>The current server time is: @ViewData["CurrentTime"]</p>

    <h2>Time to Learn ASP.NET Core MVC!</h2>

</div>
